.popup {
    position: absolute;
    z-index: 9999;
    padding: 1rem;
    background-color: hsl( var(--clr-light) );
    box-shadow: var(--shadow-dark);
    border-radius: calc(var(--border-radius));
}