.wrapper {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    padding: 1.5em;
    background-color: hsl( var(--bg-light) );
    border-radius: 20px;
    box-shadow: 0px 6px 4px 0px hsl( var(--shadow-dark) / .25 );
}

.wrapper p { margin: 0; }

.disable-popup-container {
    display: flex;
    gap: .5rem;
}

.disable-popup-label {
    font-size: .8125em;
}