.options-popup,
.delete-confirmation-popup {
    position: fixed;
    z-index: 9999;
    inset-inline-end: 0;
    translate: 4rem 2.5rem;
}

.settings-popup {
    position: absolute;
    z-index: 9999;
    inset-inline-end: 0;
    width: max-content;
    padding: 1rem;
    background-color: hsl( var(--white) );
    border-radius: 15px;
}