.settings-wrapper {
    position: relative;
}

.settings-popup-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.settings-btn {
    background-color: hsl(223 32% 16%);
    border-radius: 10px;
}