.todo-wrapper {
    display: grid;
    grid-template-rows: minmax(25%, 123px) 1fr;
    place-items: center;
    position: relative;
    min-width: 503px;
    max-width: 543px;
    min-height: 608px;
    max-height: 688px;
    scale: 1;
}

.todo-list-scroll-container {
    width: 100%;
    height: 100%;
    background-color: hsl( var(--white) );
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}

.todo-list-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

@supports (scrollbar-color: #e9e9e9) {
    .todo-list-scroll { scrollbar-color: hsl( var(--bg-light) ); }
}

.todo-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-block-start: 1rem;
    margin-block-end: calc(1rem + 39px);
    margin-inline: auto;
}